#map { 
    position: absolute; top: 0; bottom: 0; width: 100%; 
}

.mapboxgl-ctrl-home button {
    font-size: 1.1rem;
    line-height: 1;
}

.mapboxgl-ctrl-top-left {
    top: 0.7rem;
    left: calc(1.25rem + 20rem);
}

.dev-zoom-display {
    position: absolute;
    top: 26.75rem;
    left: 17rem;
    z-index: 1000;
    font-size: 0.75rem;
    color: black;
    background: transparent;
    pointer-events: none;
    user-select: none;
}
