#side-panel {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 25rem;
    max-width: calc(100% - 2.5rem);
    max-height: calc(100% - 6.25rem);
    box-sizing: border-box;
    background: white;
    padding: 1rem 1.5rem;
    /* border-radius: 10px; */
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.15);
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 10;
}
.side-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
#side-panel-close {
    font-size: 1.25rem;
    padding: 0.5rem;
    cursor: pointer;
}
#side-panel-title {
    margin: 0;
    font-size: 1.1em;
}
